@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
}
#header h1 {
  margin-top: 0px !important;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
ul.buttonNavList {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  overflow: hidden;
}

ul.buttonNavList li {
  float: left;
}

ul.buttonNavList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  border-radius: 5px;
  margin-right: 10px;
}

ul.buttonNavList li a.active {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #E21A23; /* tasty red */
  border-radius: 5px;
  margin-right: 10px;
}

ul.buttonNavList li a.active:hover {
  background-color: darkred;
}

ul.buttonNavList li a:hover {
  background-color: #111;
}

.table {
  min-width: 75%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.label-table tbody th {
  text-align: right;
}

.inline-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.inline-form label {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}

.inline-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.inline-form input[type="submit"] {
  display: block;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  background-color: #E21A23;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.inline-form input[type="submit"]:hover {
  background-color: darkred;
}

input#start_date {
  margin-right: 20px;
}

.bg-green {
  background-color: #248232;
}

.bg-red {
  background-color: #780000;
}

.bg-gray {
  background-color: #666;
}

a.fc-event {
  background: none !important;
  border: none;
  padding: 0 8px;
  text-align: center;
}

.fc-day-sun, .fc-day-sat {
  width: 100px;
}

.event-content {
  padding: 4px 12px;
  border-radius: 4px;
}

.icon {
  max-height: 48px;
  margin-right: 10px;
  margin-bottom: -5px;
}
